<h1>GET Request Received</h1>
<table border="1">
<tr><td><strong>KEY</strong></td><td><strong>VALUE</strong></td></tr>
  {{#each dataList}}
    <tr><td>{{this.name}}</td> <td>{{this.value}}</td></tr>
  {{/each}}
</table>